body {
    background: #cccccc;
    margin: 28px 30% 28px 30%;
    text-align: center;
    color: #006666;
}

.mainlinks {
    padding: 0;
    margin: 0;
    width: 130px;
}

.mainlinks ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.detail {
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
}

div.detail h3 {
    text-align: center;
    margin-top: 50px;
}

div.detailinl {
    text-align: center;
    margin-top: 40px;   
}

div.titeldetail {
    margin-top: 60px;
}

div.prijs {
    position: absolute;
    left: 35%;
    top: 410px;
}

div.overzichttekst {
    text-align: left;
    margin-left: 15%;
}

div.overzichttekst h3 {
    text-align: center;
    margin-right: 15%;
}

div.contacttekst {
    position: absolute;
    left: 30%;
    top: 10%;
}

img.logo {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 150px;
    width: 150px;
}

img.detail {
    float: left;
    margin-right: 15px;
    margin-bottom: 80px;
    height: 250px;
    width: 200px;
}

img.hoes {
    float: left;
    margin-top: 10px;
    height: 170px;
    width: 120px;
    margin-right: 20px;
}

img.homepage {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 10px;
    height: 180px;
    width: 110px;
}

img.playera {
    position: absolute;
    left: 40%;
    float: left;
    height: 80px;
    width: 80px;
}

img.playerb {
    position: absolute;
    left: 60%;
    float: left;
    height: 80px;
    width: 80px;
}

li {
    padding: 0.25em 10px 0.25em 10px;
    margin: 0;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    list-style: none;
    background: #006666;
    padding: 5px 4% 5px 4%;
    float: left;
}

li:hover {
    background: #009999;
}

ul {
    position: absolute;
    left: 29%;
    right: 25%;
}

ul a {
    color: #FFFFFF;
    font-weight: bold;
}

h3 {
    margin-bottom: 25px;
    text-align: center;
    color: #006666;
}

legend {
    font-style: italic;
    padding: 5px;
}

div.formulier {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 60%;
}

object {
    margin-top: 45%;
    width: 425px;
    height: 350px;
}

small {
    margin-top: 5px;
    color: #0000FF;
    text-align: left;
}

img.w3 {
    position: absolute;
    right: 0px;
    top: 0px;
}

img.w3a {
    position: absolute;
    right: 100px;
    top: 0px;
}

